<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>

  <body>
	 
    <div class="container" id="home-main-container">
      <!-- Static navbar -->
      <% include partials/navbar.ejs %>

      <div class="jumbotron" id="home-main-poster">
      </div>

      <div>
        <h1 class="text-center" id="home-title"><%= title %></h1><br>
        <div class="row">
        <% for (var i=0; i < movies.length; i++) { %> 
          <div class="col-sm-5 col-sm-offset-1">
            <a href="/movies/<%= movies[i].title %>"><img src="images/posters/<%= movies[i].poster %>" alt=""></a><br> <br>
          </div>
        <% } %>
        </div>
      </div>

      <% include partials/footer.ejs %>

    </div> <!-- /container -->
    
    <% include partials/scripts.ejs %>

  </body>
</html>
