/* --------------------------
General Styles 
----------------------------- */
#home-main-container{
	padding-top: 10px;
}

/* --------------------------
Main Poster
----------------------------- */
#home-main-poster{
	height: 400px;
	width: 100%;
	background-image: url('../images/movie-single-posters/the-secret-life-of-pets.jpg');
	background-repeat: no-repeat;
}

/* --------------------------
Body 
----------------------------- */
#home-title{
	border: 5px solid black;
	width: 50%;
	margin: auto;
	padding: 20px 0px;
}


